.hero {
    background: url('../../../public/cartridge10.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}