.welcome {
    padding: 3.5rem 0;
    background: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .welcome h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
    animation: fadeInDown 1s ease;
  }
  
  .welcome h2 span {
    color: #FF0000;
  }
  
  .welcome h2::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FF0000;
    transition: width 0.3s ease-in-out;
    margin-top: 5px;
  }
  
  .welcome h2:hover {
    cursor: pointer;
  }
  
  .welcome h2:hover::after {
    width: 100%;
  }
  
  .welcome-text {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1.2rem;
    line-height: 1.6;
  }
  
  /* .welcome-image {
    width: auto;
    height: 300px;
    object-fit: cover;
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
  } */

  @media (max-width: 480px) {
    /* .welcome-image {
      width: 100% !important;
      float: unset !important;
    } */
  }