.phone-number {
    font-size: 2rem;
    color: #FF0000;
    font-weight: bold;
    margin-top: 1rem;
}

@media (max-width: 968px) {
    .header .phone-numbers {
        display: none;
       
    }

    .hero .phone-numbers {
        display: block;
        color: black;
    }

    .hero .phone {
        display: block;
    }
}

@media (max-width: 570px) {
    .contact-info .phone-numbers {
        display: grid;
    }
}