body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}


@media (max-width: 1270px) {
  .container {
    width: unset;
    padding: 0 25px;
  }

  .nav-links {
    display: none;
    gap: 1rem;
  }

  .nav-links a {
    font-size: 1rem;
  }

  .menu-toggle {
    display: flex;
  }

  .header {
    padding: 1rem 0;
  }
}

@media (max-width: 968px) {
  .header .phone-numbers {
    display: none;
  }

  .hero .phone-numbers {
    display: block;
  }

  .hero .phone {
    display: block;
  }
}

@media (max-width: 800px) {
  .hero {
    height: 50vh;
  }

  .welcome-text {
    margin: 0;
    font-size: 1rem !important;
  }

  .welcome h2,
  .services h2,
  .section-title {
    font-size: 2rem !important;
  }

  .benefit-text h3,
  .services p {
    font-size: 1.2rem;
  }

  .benefitIcon-container {
    min-width: 50px;
    width: 50px;
    height: 50px;
  }

  .benefit i {
    font-size: 1.5rem;
  }

  .welcome,
  .services,
  .why-choose-us {
    padding: 1.5rem 0;
  }
}

@media (max-width:1270px) {
  .logo .divOverLogo {
    width: 300px;
  }
}